
<div class="btn-group" role="group" aria-label="Basic example">
    <a type="button" class="btn btn-outline-primary"
        data-bs-toggle="tooltip" data-bs-placement="top"
        target="_blank" rel="noopener noreferrer"
        href="https://kibana.badcode.app/"
        title="Network Visualizer">
        Kibana
    </a>
    <a type="button" class="btn btn-outline-primary"
        data-bs-toggle="tooltip" data-bs-placement="top"
        target="_blank" rel="noopener noreferrer"
        href="https://code.badcode.app/"
        title="VS Code Server">
        Code
    </a>
    <a type="button" class="btn btn-outline-primary"
        data-bs-toggle="tooltip" data-bs-placement="top"
        target="_blank" rel="noopener noreferrer"
        href="https://guac.badcode.app/guacamole"
        title="Apache Guacamole">
        Guac
    </a>
        <a type="button" class="btn btn-outline-primary"
        data-bs-toggle="tooltip" data-bs-placement="top"
        href="/device"
        title="Device Management">
        Device MGMT
    </a>
</div>
<br><br>