<h4>Core Apps</h4>
<div class="btn-group" role="group" aria-label="Basic example">
    <a type="button" class="btn btn-outline-primary"
        data-bs-toggle="tooltip" data-bs-placement="top"
        target="_blank" rel="noopener noreferrer"
        href="https://authentik.tss.335th.army.mil/"
        title="Authentik Identity Provider">
        Authentik
    </a>
    <a type="button" class="btn btn-outline-primary"
        data-bs-toggle="tooltip" data-bs-placement="top"
        target="_blank" rel="noopener noreferrer"
        href="https://guac.tss.335th.army.mil/"
        title="Apache Guacamole SSH/RDP Client">
        Guacamole
    </a>
    <a type="button" class="btn btn-outline-primary"
        data-bs-toggle="tooltip" data-bs-placement="top"
        target="_blank" rel="noopener noreferrer"
        href="https://code.tss.335th.army.mil/"
        title="Visual Studio Code IDE">
        VS Code
    </a>
    <a type="button" class="btn btn-outline-primary"
        data-bs-toggle="tooltip" data-bs-placement="top"
        target="_blank" rel="noopener noreferrer"
        href="https://files-admin.tss.335th.army.mil/"
        title="Files Admin Server">
        Files Admin
    </a>
    <a type="button" class="btn btn-outline-primary"
        data-bs-toggle="tooltip" data-bs-placement="top"
        target="_blank" rel="noopener noreferrer"
        href="https://nfwh.tss.335th.army.mil/"
        title="NIPR Firewall Host">
        NFWH
    </a>
    <a type="button" class="btn btn-outline-primary"
        data-bs-toggle="tooltip" data-bs-placement="top"
        target="_blank" rel="noopener noreferrer"
        href="https://bastion.tss.335th.army.mil/"
        title="Chrome Jumpbox Web Browser">
        Bastion
    </a>
</div>
<br><br>

<h4>Hypervisor/Server</h4>
<div class="btn-group" role="group" aria-label="Basic example">
    <a type="button" class="btn btn-outline-primary"
        data-bs-toggle="tooltip" data-bs-placement="top"
        target="_blank" rel="noopener noreferrer"
        href="https://nesx1.tss.335th.army.mil/"
        title="NIPR ESXi-01 Management Console">
        NESX1
    </a>
    <a type="button" class="btn btn-outline-primary"
        data-bs-toggle="tooltip" data-bs-placement="top"
        target="_blank" rel="noopener noreferrer"
        href="https://nesx2.tss.335th.army.mil/"
        title="NIPR ESXi-02 Management Console">
        NESX2
    </a>
    <a type="button" class="btn btn-outline-primary"
        data-bs-toggle="tooltip" data-bs-placement="top"
        target="_blank" rel="noopener noreferrer"
        href="https://idrac1.tss.335th.army.mil/"
        title="Integrated Dell Remote Access Controller 1">
        iDRAC1
    </a>
    <a type="button" class="btn btn-outline-primary"
        data-bs-toggle="tooltip" data-bs-placement="top"
        target="_blank" rel="noopener noreferrer"
        href="https://idrac2.tss.335th.army.mil/"
        title="Integrated Dell Remote Access Controller 2">
        iDRAC2
    </a>
</div>
<br><br>

<h4>Cisco Meeting Server</h4>
<div class="btn-group" role="group" aria-label="Basic example">
    <a type="button" class="btn btn-outline-primary"
        data-bs-toggle="tooltip" data-bs-placement="top"
        target="_blank" rel="noopener noreferrer"
        href="https://cmm.tss.335th.army.mil/"
        title="Cisco Meeting Management">
        CMM
    </a>
    <a type="button" class="btn btn-outline-primary"
        data-bs-toggle="tooltip" data-bs-placement="top"
        target="_blank" rel="noopener noreferrer"
        href="https://cms.tss.335th.army.mil/"
        title="CMS Admin Panel">
        CMS Admin
    </a>
</div>
<br><br>

<h4>Web/Proxy</h4>
<div class="btn-group" role="group" aria-label="Basic example">
    <a type="button" class="btn btn-outline-primary"
        data-bs-toggle="tooltip" data-bs-placement="top"
        target="_blank" rel="noopener noreferrer"
        href="https://webtest.tss.335th.army.mil/"
        title="Preview HTML Changes">
        Web Test
    </a>
    <a type="button" class="btn btn-outline-primary"
        data-bs-toggle="tooltip" data-bs-placement="top"
        target="_blank" rel="noopener noreferrer"
        href="https://test.tss.335th.army.mil/"
        title="Non-Prod Test Proxy">
        Test Proxy
    </a>
</div>
<br><br>