<pre style="font-size: 85%" id="ascii_art">
###############                     _,=.=,_                                          
# OG Networks #                   ,'=.     `\___,    So Awesome!                     
###############                  /    \  (0     |        __ _     Much Science       
                                /      \     ___/       /| | ''--.._                 
                                |      |     \)         || |    ===|\     Wow!       
                  Wow!          ',   _/    .--'         || |   ====| |               
      Much Learn                  `"`;    (             || |    ===|/  Random Numbers
                                     =335th=_.,_        \|_|_..--;"`                 
Computer          So Fun!            /  .--""``\\          __)__|_    Class          
                                   .'       .\,,||___     |        |                 
        Loops                (   .'     -""`| `"";___)---'|________|__     So Cool!  
                             |\ /         __|   [_____________________]              
  Wow!                        \|       .-'  `\        |.----------.|      Math       
              Much Coding      \  _           |       ||          ||                 
                                (          .-' )      ||          || Cyber           
String                                                                               
</pre>