<pre style="font-size:90%" id="ascii_art">
                                  |335th>>>                                    
                                  |                                            
                    |359th>>> _  _|_  _         |505th>>>                      
                    |        |;| |;| |;|        |                              
                _  _|_  _    \\.    .  /    _  _|_  _                          
               |;|_|;|_|;|    \\:. ,  /    |;|_|;|_|;|                         
               \\..      /    ||;   . |    \\.    .  /                         
                \\.  ,  /     ||:  .  |     \\:  .  /                          
                 ||:   |_   _ ||_ . _ | _   _||:   |                           
                 ||:  .|||_|;|_|;|_|;|_|;|_|;||:.  |                           
                 ||:   ||.    .     .      . ||:  .|                           
                 ||: . || .     . .   .  ,   ||:   |       \,/                 
                 ||:   ||:  ,  _______   .   ||: , |            /`\            
                 ||:   || .   /+++++++\    . ||:   |                           
                 ||:   ||.    |+++++++| .    ||: . |                           
              __ ||: . ||: ,  |+++++++|.  . _||_   |                           
     ____--`~    '--~~__|.    |+++++__|----~    ~`---,              ___        
-~--~    OG Networks    ~---__|,--~'                  ~~----_____-~'   `~----~~
</pre>