<div class="btn-group" role="group" aria-label="Device Management Actions">
    <a role="button" 
       class="btn {{ 'btn-primary' if request.path.startswith('/device/view') else 'btn-outline-primary' }}"
       {{ 'aria-current="page"' if request.path.startswith('/device/view') }}
       data-bs-toggle="tooltip" data-bs-placement="top"
       href="/device/view"
       title="View Devices">
        View
    </a>
    <a role="button" 
       class="btn {{ 'btn-primary' if request.path.startswith('/device/add') else 'btn-outline-primary' }}"
       {{ 'aria-current="page"' if request.path.startswith('/device/add') }}
       data-bs-toggle="tooltip" data-bs-placement="top"
       href="/device/add"
       title="Add Device">
        Add
    </a>
    <a role="button" 
       class="btn {{ 'btn-primary' if request.path.startswith('/device/remove') else 'btn-outline-primary' }}"
       {{ 'aria-current="page"' if request.path.startswith('/device/remove') }}
       data-bs-toggle="tooltip" data-bs-placement="top"
       href="/device/remove"
       title="Remove Device">
        Remove
    </a>
    <a role="button" 
       class="btn {{ 'btn-primary' if request.path.startswith('/device/modify') else 'btn-outline-primary' }}"
       {{ 'aria-current="page"' if request.path.startswith('/device/modify') }}
       data-bs-toggle="tooltip" data-bs-placement="top"
       href="/device/modify"
       title="Modify Device">
        Modify
    </a>
</div>
<br>