
<div class="btn-group" role="group" aria-label="Basic example">
    <a type="button" class="btn btn-outline-primary"
        data-bs-toggle="tooltip" data-bs-placement="top"
        target="_blank" rel="noopener noreferrer"
        href="http://10.224.79.106:5601/"
        title="Network Visualizer">
        Kibana
    </a>
    <a type="button" class="btn btn-outline-primary"
        data-bs-toggle="tooltip" data-bs-placement="top"
        target="_blank" rel="noopener noreferrer"
        href="https://code.macdads.net/"
        title="VS Code Server">
        Code
    </a>
        <a type="button" class="btn btn-outline-primary"
        data-bs-toggle="tooltip" data-bs-placement="top"
        target="_blank" rel="noopener noreferrer"
        href="https://zabbix.macdads.net/"
        title="Network Monitoring">
        Zabbix
    </a>
    </a>
        <a type="button" class="btn btn-outline-primary"
        data-bs-toggle="tooltip" data-bs-placement="top"
        target="_blank" rel="noopener noreferrer"
        href="https://files.macdads.net/"
        title="Files Server">
        Files
    </a>
    <a type="button" class="btn btn-outline-primary"
        data-bs-toggle="tooltip" data-bs-placement="top"
        target="_blank" rel="noopener noreferrer"
        href="https://authentik.macdads.net/"
        title="SSO/IDP">
        Authentik
    </a>
    <a type="button" class="btn btn-outline-primary"
        data-bs-toggle="tooltip" data-bs-placement="top"
        target="_blank" rel="noopener noreferrer"
        href="https://opnsense.macdads.net/"
        title="Firewall Router">
        OPNSense
    </a>
    <a type="button" class="btn btn-outline-primary"
        data-bs-toggle="tooltip" data-bs-placement="top"
        target="_blank" rel="noopener noreferrer"
        href="https://webtest.macdads.net/"
        title="Test html/css changes">
        Webtest
    </a>
    <a type="button" class="btn btn-outline-primary"
        data-bs-toggle="tooltip" data-bs-placement="top"
        target="_blank" rel="noopener noreferrer"
        href="https://www.macdads.net/roll/1d20"
        title="Roll for initiative!">
        Roll
    </a>
</div>
<br><br>