<pre style="font-size: 85%" id="ascii_art">
---------------+---------------                        -----------!-----------  
          ___ /^^[___   359TTSB    _   -----------!----------- /=====\ 505TTSB  
         /|^+----+   |#___________//            |===\_________/_  o  |          
       ( -+ |____|   _______-----+/            /_]    o o  o o____   /          
        ==_________--'            \           <_]___[]_______<____>/            
          ~_|___|__                               o              o              
                                                                                
  ___.___324ESB                                                ___.___319ESB    
    (_]===*         ___.___392ESB-E        ___.___98ESB         cHHD`=--/       
    o 0             -cC0D`=--/              c[_]`=--/                           
                                                                     OG Networks
</pre>