<table id="contact_book" class="center table table-bordered table-hover table-dark table-responsive">
<thead>
    <tr>
        <th>Contact</th>
        <th>NIPR</th>
        <th>SIPR</th>
        <th>NATO MPE</th>
        <th>Commercial</th>
    </tr>
</thead>
<tbody>
    <tr>
        <td>Cisco Meeting Server</td>
        <td id="nipr_voip">🕿 617-760-0499</td>
        <td id="sipr_voip">🕿 503-760-0499</td>
        <td id="mpe_voip">🕿 760-0499</td>
        <td></td>
    </tr>
    <tr>
        <td>335 SC(T) NOSC</td>
        <td id="nipr_voip"></td>
        <td id="sipr_voip"></td>
        <td id="mpe_voip"></td>
        <td></td>
    </tr>
    <tr>
        <td>359 TTSB NOSC</td>
        <td id="nipr_voip">🕿 617-760-0400 (Tactical)<br>🕿 502-849-8910 (DSN)</td>
        <td id="sipr_voip">🕿 503-760-0400</td>
        <td id="mpe_voip">🕿 760-0400</td>
        <td>🕿 706-849-9810</td>
    </tr>
    <tr>
        <td>505 TTSB NOSC</td>
        <td id="nipr_voip"></td>
        <td id="sipr_voip"></td>
        <td id="mpe_voip"></td>
        <td></td>
    </tr>
    <tr>
        <td>RHN Bragg</td>
        <td id="nipr_voip">🕿 617-245-2002 (Tactical)</td>
        <td id="sipr_voip">🕿 503-245-2107</td>
        <td id="mpe_voip"></td>
        <td>🕿 910-396-3266</td>
    </tr>
    <tr>
        <td>RHN Roberts</td>
        <td id="nipr_voip">🕿 618-245-3000 (Tactical)<br>🕿 312-630-7722 (DSN)</td>
        <td id="sipr_voip">🕿 506-245-3000</td>
        <td id="mpe_voip"></td>
        <td>🕿 805-227-7722</td>
    </tr>
    <tr>
        <td>RHN Landstuhl</td>
        <td id="nipr_voip">🕿 408-244-2000 (Tactical)</td>
        <td id="sipr_voip">🕿 504-244-2000</td>
        <td id="mpe_voip">🕿 244-2000</td>
        <td>🕿 xxx-xxx-xxxx</td>
    </tr>
    <tr>
        <td>RHN Arifjan</td>
        <td id="nipr_voip">🕿 xxx-xxx-xxxx (Tactical)<br>🕿 xxx-xxx-xxxx (DSN)</td>
        <td id="sipr_voip">🕿 xxx-xxx-xxxx</td>
        <td id="mpe_voip"></td>
        <td>🕿 xxx-xxx-xxxx</td>
    </tr>
    <tr>
        <td>RHN Guam</td>
        <td id="nipr_voip">🕿 405-247-0001/2 (Tactical)<br>🕿 315-355-2285/6/7/8 (DSN)</td>
        <td id="sipr_voip">🕿 505-247-0001/2</td>
        <td id="mpe_voip"></td>
        <td>🕿 671-355-2285/6/7/8</td>
    </tr>
    <tr>
        <td>GAIT Networking</td>
        <td id="nipr_voip">🕿 617-245-2400</td>
        <td id="sipr_voip">🕿 503-245-2401</td>
        <td></td>
        <td>🕿 240-739-6012</td>
    </tr>
    <tr>
        <td>GAIT SATCOM</td>
        <td id="nipr_voip">🕿 312-343-3630</td>
        <td id="sipr_voip">🕿 503-245-2406</td>
        <td></td>
        <td>🕿 240-739-6022</td>
    </tr>
</tbody>
</table>